# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment directories
venv/
env/
.virtualenv/

# Ignore IDE-specific files (optional, depending on your IDE)
*.idea/
.vscode/

#extra files
footer.html
